# Node.js
node_modules/
.next/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Python virtual environment
venv/
.env
# Virtual environment
.venv-clean/

# Local database
db.sqlite3

# TypeScript build info
tsconfig.tsbuildinfo

# PDF files
*.pdf
